<form action="/add_new_company" method="post">
  Company Name
  <input type="text" name="name">
  <p>Telephone
  <input type="text" name="telephone"></p>
  <p>Representitive
  <input type="text" name="representitive"></p>
  <p>Email
  <input type="text" name="email"></p>
  <p>Address
  <input type="text" name="address"></p>
  <p>Contract Start
  <input type="text" name="start"></p>
  <p>Contract
  <input type="text" name="end"></p>
  <input type="submit" value="Submit">
</form>
